html,body {
  height: 100%;
  width: 100%;
}

// .wrapper {
//   height: 20px;
//   width: 100%;
//   color: white;
//   background-color: #38AEF0;
//   text-align: center;
//   font-size: 15px;
// }

.chat-contents {
  height: 100%;
  width: 100%;
}

// --- left-top-block_discription ---

.left-top-block {
  height: 70px;
  width: 260px;
  background-color: #253141;
  padding: 35px 20px 0px;
  color: #FFFFFF;
  float: left;
}

.li {
  color: #FFFFFF;
  float: right;
}

.pencil-link {
  color: #FFFFFF;
  padding-right: 10px;
}

.cog-link {
  color: #FFFFFF;
}

// --- side-bar_discription ---

.side-bar {
    height: calc(100% - 105px);
    width: 300px;
    background-color: #2f3e51;
    color: #FFFFFF;
    float: left;
    margin: 105px 0 0 0;
    position: absolute;
    &__names {
        padding: 20px 20px 0;
        font-size: 15px;
        color: #FFFFFF;
        text-decoration: none;
    }
    &__messages {
        padding: 5px 20px 0;
        font-size: 11px;
        color: #FFFFFF;
        text-decoration: none;
    }
    &__text1 {
        // background-color: #FFFFFF;
    }
}

.link_color {
  text-decoration: none;
}

// --- top_discription ---

.chat-top-view {
  height: 105px;
  width: calc(100% - 300px);
  background-color: #FFFFFF;
  border: #eeeeee;
  float: right;
    &__text {
      font-size: 15px;
      color: #333333;
      display: inline;
      margin-left: calc(100% - 100px)
    }

    &__name {
      font-size: 20px;
      color: #333333;
      padding-left: 40px;
      padding-top: 30px;
      position: absolute;
    }


    &__members {
      font-size: 12px;
      color: #999999;
      border-bottom: #eeeeee;
      // padding-left: 40px;
      width: 50%;
      padding-top: 80px;
      padding-left: 40px;
      position: absolute;
    }

    &__edit {
      float: left;
      // padding-top: 20px;
      padding-left: calc(100% - 110px);
      padding-top: 10px;
      text-decoration: none;
      // position: absolute;
    }
}

button.edit {
  font-size: 16px;
  background-color: #FFFFFF;
  color: #38AEF0;
  display: inline;
  margin-top: 13px;
  height: 40px;
  width: 70px;
  border: solid;
  border-color: #38AEF0;
  border-width: 1px;
  text-decoration: none;
}

// --- center_discription ---

.chat-center-view {
    height: calc(100% - 105px);
    width: calc(100% - 300px);
    background-color: #EEEEEE;
    float: right;
    position: relative;
    max-height: 721px;
    overflow: scroll;
}

.chat-messages {
  overflow: scroll;
  max-height: 721px;
  // overflow: scroll;
}

.chat-upper {
  padding-top: 40px;
  padding-left: 40px;
    &__name {
      display: inline;
      font-size: 16px;
      font-weight: bold;
    }

    &__date {
      font-size: 12px;
      color: #999999;
      display: inline;
    }
}

.chat-lower-message {
  padding-left: 40px;
  color: #333333;
  font-size: 14px;
  padding-top: 10px;
}

// --- bottom_discription ---

.chat-bottom-view {
  height: 70px;
  width: 80%;
  background-color: #CCCCCC;
  position: absolute;
  bottom: 0;
  font-size: 0;
  position: fixed;
}

.message-form__field {
  margin: 10px 0 10px 40px;
  width: calc(100% - 250px);
  height: 50px;
  color: #333333;
  text-indent: 10px;
  font-size: 16px;
  display: inline-block;
  border: none;
  box-sizing: border-box;
  // position: fixed;
}

.message-form__image--file {
  // display: inline;
  display: none;
}

.form-mask {
    background-color: #ffffff;
    // float: left;
    // height: 50px;
    padding: 11px 12px 12px 12px;
    display: inline-block;
    // position: relative;
    font-size: 18px;
}

.chat-bottom__image {
  display: inline;
}

.chat-bottom__action {
  display: inline-block; 
}

.message-form__action-btn {
  background-color: #38AEF0;
  color: #FFFFFF;
  height: 50px;
  width: 90px;
  margin: 10px 40px 20px 15px;
  // position: absolute;
  font-size: 16px;
  display: inline-block;
  border: none;
}